.fx-content:after, .fx-logintrigger:after, body:after { content: ""; display: table; clear: both; }

.fx-errormsg, .fx-content, .fx-input, .fx-lightbox__box, .fx-logintrigger, .fx-editor__panel, body { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

.fx-errormsg { width: 100%; display: none; margin-bottom: 10px; padding-right: 10px; padding-left: 10px; padding: 5px; font-size: 14px; text-align: center; }

.fx-errormsg::after { content: '\0000a0'; }

.fx-errormsg.fx-val-error { border-color: #f03f4b; color: #f03f4b; }

.fx-core { font-family: 'Work Sans', sans-serif; }

.fx-content { background-color: #fff; }

.fx-input { transition: box-shadow 0.3s ease 0s; padding: 7px 15px; width: 100%; border: 1px solid lightgray; border-radius: 50px; }

.fx-input:focus { box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.1); }

.fx-cta { display: inline-block; padding: 0.5rem 1rem; background-color: #37474f; border: none !important; border-radius: 50px; color: #fff; text-decoration: none; font-size: 0.9rem; text-align: center; font-weight: 700; text-transform: uppercase; cursor: pointer; transition: all 0.1s ease-in-out; }

.fx-cta:hover { text-decoration: none; background-color: #222c31; color: #fff; }

.fx-cta--sec { background-color: #4db6ac; }

.fx-cta--sec:hover { background-color: #3c948b; }

.fx-cta--disabled { opacity: 0.4; }

.fx-lightbox { position: fixed; z-index: 9999999; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; align-items: center; justify-content: center; display: none; width: 100%; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(55, 71, 79, 0.9); font-family: 'Work Sans', sans-serif; }

@media screen and (max-width: 500px) { .fx-lightbox { align-items: flex-start; } }

.fx-lightbox .fx-input { margin-bottom: 10px; }

.fx-lightbox--help { position: fixed; z-index: 9999999; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; align-items: center; justify-content: center; display: none; }

@media screen and (max-width: 500px) { .fx-lightbox--help { align-items: flex-start; } }

.fx-lightbox__box { transition: transform 0.2s ease-out 0s, opacity 0.2s ease-out 0s; position: relative; display: block; background-color: #fff; border-radius: 20px; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); padding: 20px; transform: scale(0.75); opacity: 0; }

@media screen and (max-width: 500px) { .fx-lightbox__box { margin-top: 70px; } }

.fx-lightbox__box--login { width: 250px; max-width: 250px; }

.fx-lightbox__box--login .fx-cta { margin-left: 0; width: 100%; }

.fx-lightbox__box--login.is-active { transform: scale(1); opacity: 1; }

.fx-lightbox__box--help { width: 90%; max-width: 550px; text-align: center; }

@media screen and (max-width: 500px) { .fx-lightbox__box--help { margin-top: 20px; } }

.fx-lightbox__box--help img { width: 100%; }

.fx-lightbox__box--help .fx-cta { margin-top: 20px; padding: 15px 30px; min-width: 150px; display: block; }

.fx-lightbox__box--help.is-active { transform: scale(1); opacity: 1; }

.fx-lightbox__blocklink { display: block; margin-top: 20px; font-size: 0.8rem; color: #37474f; }

.fx-lightbox__blocklink:hover { color: #4db6ac; }

.fx-lightbox__description { display: none; padding-bottom: 10px; }

.fx-lightbox__description h3 { color: #37474f; }

.fx-lightbox__description p { font-size: 14px; }

.fx-lightbox__close { transition: transform 0.15s ease-out 0s; position: absolute; top: -10px; right: -10px; padding: 5px 4px; background-color: #f03f4b; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5); border-radius: 50px; color: #fff; cursor: pointer; }

@media screen and (min-width: 1024px) { .fx-lightbox__close:hover { transform: scale(1.1); } }

@media screen and (max-width: 500px) { .fx-lightbox__close { transform: scale(1.3); } }

.fx-logintrigger { position: fixed; z-index: 999999; top: 0; right: 0; display: none; width: 100%; padding-top: 20px; text-align: center; }

.fx-logintrigger__button { transition: all 0.2s ease 0s; display: none; margin-right: auto; margin-left: auto; padding-left: 20px; padding-right: 20px; background-color: #37474f; color: #fff; text-transform: uppercase; text-align: center; font-size: 1rem; cursor: pointer; }

.fx-editor { position: fixed; z-index: 99999; top: 0; left: 0; right: 0; height: 5px; display: none; background-color: #94a5b0; }

.fx-editor.is-editing { display: block; }

.fx-editor__panel { transition: transform 0.3s ease-out 0s, padding 0.6s ease 0s; position: fixed; z-index: 999999; bottom: 0; left: 0; right: 0; width: 100%; transform: translateY(110px); display: block; padding: 10px 40px; background-color: #eceff1; border-top: 5px solid #94a5b0; border-bottom: 1px solid #b1bec6; text-align: right; }

.fx-editor__panel.is-editing { transform: translateY(0); padding: 10px 10px; }

.fx-editor__panel .fx-cta { margin-left: 5px; padding: 0.8rem 1rem; }

@media screen and (max-width: 768px) { .fx-editor__export, .fx-editor__restore { display: none; } }

.fx-editor__restore { background-color: #f03f4b; }

.fx-editor__restore:hover { background-color: #ba0f1a; }

.fx-editor__logo { transition: all 3s ease 0s; display: inline-block; transition: all 0.4s ease 0.3s; float: left; margin-left: 0 !important; background-color: #eceff1; border: 1px solid #37474f !important; opacity: 0; color: #37474f; }

.fx-editor__logo::after { content: "Flux"; }

.fx-editor__logo:hover { background-color: #dde3e6; color: #37474f; }

.fx-editor__logo:active { color: #37474f; }

@media screen and (max-width: 640px) { .fx-editor__logo { transition: none; } }

@media screen and (max-width: 500px) { .fx-editor__logo::after { content: "F"; } }

.fx-editor__logo.is-editing { opacity: 1; border-radius: 10px; }

.fx-demo { position: fixed; z-index: 99999; top: 0; left: 0; right: 0; display: block; padding-top: 20px; text-align: center; }

.fx-demo__button { display: block; }

.fx-demo .fx-cta { background-color: #F3BF25; color: #37474f; max-width: 300px; padding: 1rem 1.3rem; }

@media screen and (max-width: 500px) { .fx-demo .fx-cta { font-size: 13px; } }

body { position: relative; overflow-x: hidden; transition: all 0.4s ease 0s; margin: 0; }

body.is-editing { padding: 5px; background-color: #94a5b0; }

/*# sourceMappingURL=flux.css.map */
